
build-PacMan-Desktop_Qt_5_15_0_GCC_64bit-Debug/

GX_Hamidi_Derrives_Arniaud_Labidi_Cardon/PacMan.pro.user

*.autosave

build-PacMan-Desktop_Qt_5_12_9_GCC_64bit-Debug/

build-PacMan-Desktop-Debug/

GX_Hamidi_Derrives_Arniaud_Labidi_Cardon/Doc/
GX_Hamidi_Derrives_Arniaud_Labidi_Cardon/doxygen.exe

build-PacMan-Desktop_Qt_5_15_0_GCC_64bit-Release/

build-PacMan-Desktop_Qt_5_15_0_GCC_64bit-Profile/
